@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 235, 235)
}

header{
    background-color: rgb(10, 10, 110);;
    display: flex;
    font-weight: bold;
    min-height: 65px;
}

header > h1{
    margin: auto;
    font-size: 1.6em;
    padding: 10px;
    color: white;
}

nav{
    text-align: right;
    margin: auto;
    min-width: 350px;
}

#anav{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    padding: 10px;
}

button{
    padding: 8px;
    color: rgb(10, 10, 110);
    background-color: white;
    font-weight: bold;
    border-radius: 7px;
    text-decoration: none;
}

table{
    width: 100px;
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.308);
}

th{
    padding: 10px;
    background-color: rgb(10, 10, 110);;
    color: white;
    font-size: 1.7em;
}

td{
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}

tr{
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.247);
}